.home {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    max-width: 24%;
    width: 100%;
  }

  &__link {
    display: inline-block;
    transition: 1s all;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
    }
  }
}
