.section-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

        @include breakpoint-up("sm") {
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint-up("lg") {
            grid-template-columns: repeat(3, 1fr);
        }
        @include breakpoint-up("xl") {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__link {
        display: inline-block;
        transition: 1s all;

        &:hover,
        &:active,
        &:focus {
            opacity: 0.7;
        }
    }

    &__button {
        margin-top: 25px;
        display: inline-block;

        cursor: pointer;

        border-radius: 10px;
        border: none;
        background-color: lightcoral;

        font-weight: 900;
        font-style: 18px;
        line-height: 21px;
    }
}
